--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.1+cpu
torchvision==0.17.1+cpu

streamlit
langchain
langchain-ibm
langchain-community
pinecone-client
pypdf
sentence-transformers
python-dotenv